version: '3'

services:
  app:
    build: 
      context: .
      dockerfile: dockerfile.prod
    ports:
      - 8089:80
    deploy:
      resources:
        limits:
          memory: 200M
          cpus: '0.1'