<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>

    <style>
      body { padding: 1rem; } .termos { border: 1px solid black; padding: 1rem;}
      .cliente { font-size: 19px; } .assinatura {text-align: justify ;}
    </style>
  </head>
  <body>
    <div class='assinatura'>
      <center>
        <h1>UTI do Celular</h1>
      </center>
      <p>
        <b>
          NÃO ESTÃO INCLUSOS NESTA GARANTIA ALGUNS ACESSÓRIOS E TODAS AS PARTES
          EXTERNAS DO CELULAR TAIS COMO:
        </b>
      </p>
      <p>
        Lentes, antenas, carcaças, capas, cases, teclas, teclados e botões
        laterais se houver, tampas, películas protetoras, cabos de dados, fones
        de ouvido, cartão de memória, pendrive, suportes
        <b><u>e partes que se desgastam com o uso.</u></b>
      </p>
      <center>
        <p>
          <b><u>A GARANTIA É CANCELADA AUTOMATICAMENTE NOS SEGUINTES CASOS:</u></b>
        </p>
      </center>
      <p>
        Em ocasião de quedas, esmagamentos, sobrecarga elétrica; exposição do
        aparelho a altas temperaturas, umidade ou líquidos; exposição do
        aparelho a poeira, pó e/ou limalha de metais, ou ainda quando constatado
        mau uso do aparelho, instalações, modificações ou atualizações no seu
        sistema operacional; abertura do equipamento ou tentativa de conserto
        deste por terceiros que não sejam os técnicos da UTI do Celular,
        <b><u>mesmo que para realização de outros serviços;</u></b>
        bem como a violação do selo/lacre de garantia colocado pela UTI do
        Celular.
      </p>
      <b>
        <p>E ainda:</p>
        <p>
          LENTE TOUCHSCREEN QUE APRESENTEM MAU USO, TRINCADOS OU QUEBRADOS,
          RISCADOS, MANCHADOS, DESCOLADOS ou COM CABO FLEX ROMPIDO.
        </p>
      </b>
      <div class='termos'>
        Vale lembrar que:
        <p>
          1)
          <b>A GARANTIA DE 90 (NOVENTA)</b>
          dias está de acordo com o artigo 26 inciso II do código de defesa do
          consumidor.
        </p>
        <p>
          2) Funcionamento, instalação e atualização de aplicativos, bem como o
          sistema operacional do aparelho
          <b>NÃO FAZEM</b>
          parte desta garantia.
        </p>
        <p>
          3) Limpeza e conservação do aparelho
          <b>NÃO FAZEM</b>
          parte desta garantia.
        </p>
        <p>
          4) A não apresentação de documento (nota fiscal ou este termo) que
          comprove o serviço
          <b>INVÁLIDA</b>
          a garantia.
        </p>
        <p>
          5) Qualquer mal funcionamento
          <b>APÓS ATUALIZAÇÕES</b>
          do sistema operacional ou aplicativos
          <b>NÃO FAZEM PARTE DESSA GARANTIA.</b>
        </p>
        <p>
          6)
          <b>A GARANTIA</b>
          é válida somente para o item ou serviço descrito na nota fiscal, ordem
          de serviço ou neste termo de garantia,
          <b>NÃO ABRANGENDO OUTRAS PARTES</b>
          e respeitando as condições aqui descritas.
        </p>
      </div>
      <div class='assinatura'>
        <center>
          <p>
            Serviço realizado:
            <b>{{servicoModelo}}</b>
          </p>
        </center>
        <b>SIM</b>
        Confirmo que li este termo de garantia, fui orientado sobre o seu
        conteúdo e que testei o aparelho, e este se encontra em perfeito estado
        estético e de funcionamento no ato da retirada.
      </div>
      <div class='cliente'>
        <center>
          <p>Cliente:
            <b>{{cliente}}</b></p>

          De acordo:_________________________________
          <p>
            Data emissão garantia:
            <b>{{data}}</b>
          </p>
        </center>
      </div>
    </div>
  </body>
</html>